body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container { 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 640px) { .container { max-width: 640px } }
@media (min-width: 768px) { .container { max-width: 768px } }
@media (min-width: 1024px) { .container { max-width:1024px } }
@media (min-width: 1280px) { .container { max-width:1280px } }