.glowingCircle {
    margin-top: calc(100vh - 93vh);
    background-color:transparent;
    width:200px;
    height:200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }